* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

p,a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.container{
    
    background-color:#1f2937;
}

ul{
    display: flex;
}
    
.logo{
    padding:20px 20px 20px 80px;
    color: #f9faf8;
    font-size: 24px;
}

.navlinks{
    margin-left: auto;
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 20px 80px 20px 20px;
    font-size: 18px;
    color: #e5e7eb;
}



.hero-section{
    display: flex;
    padding: 80px;
}

.hero-main{
    max-width: 50%;
}

.hero-main h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;

}


button{
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 8px 32px;
    border: none;
    border-radius: 4px;
}

.information-sec{
    display: flex;
}





  .information-sec {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #007bff;
    margin: 10px;
}
